* {
    margin: 0;
	padding: 0;
    border: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-decoration: none;
    list-style: none;
}

body {
    background-image: url("img/bg.jpg") ;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

h1{
    text-transform: uppercase;
    font-size: 4em;
    text-align: center;
    padding: 10px 0;
}


/* Header */

header{
    background-color: rgba(0, 0, 0, 0.7);
    border-bottom: 1px solid rgba(360, 360, 360, 0.2)
}

footer{
    background-color: rgba(0, 0, 0, 0.7)
}

nav {
    padding: 5px 0;
}

nav a {
    font-size: 1.3em;
}

nav ul {
    display: flex;
    justify-content: center;
}

nav li {
    margin: 0 5px;
}

nav li:not(:last-child):after {
    content: '|';
    height: 100%;
    margin: 10px;
}

.parent {
    position: relative;
    text-align: center;
}

.submenu {
    display: none;
    position: absolute;
    right: -50%;
    left: -50%;
    margin-top: 2px;
}

.submenu li {
    width: 100%;
    padding: 5px 10px;
    background-color: rgba(0, 0, 0, 0.7);
}

.submenu a {
    text-align: center;
    font-size: 1em;
}

.parent:hover > .submenu {
    display: block;
}


/* Footer */

footer > .wrapper > ul {
    display: flex;
    flex: 1;
    justify-content: space-around;
    padding: 20px;
}

footer .wrapper h3 {
    padding-bottom: 20px; 
}

.post {
    margin: 10px 5px;
}

.post a {
    vertical-align: top;
}

.categories li {
    padding: 5px;
}

input[type="email"] {
    outline: 0;
    border: 0;
    border-bottom: 3px solid white;
    background: transparent; 
}

button {
    padding: 5px 10px;
    background-color: #4DB7D9;
}

/* main part of body */

#results {
    padding: 3em;
}

#results h2{
    padding: 20px 10px; 
}

#results h2:before {
    font-family: FontAwesome;
    content:"\f091";
}

#results li, h3 {
    padding: 10px;
}

#news {
    padding: 3em;
}

#news h2:before {
    content:"\f0a1";
    font-family: FontAwesome;
}

.posts {
    padding-top: 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}

.posts > article {
    flex-basis: 40%;
    margin: 20px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.5);
    transition: 0.3s;
    border-radius: 2px;
}

figure {
    text-align: center;
}

figure > img {
    width: 100%;
}

.art-content {
    width: 90%;
    margin: 20px;
}

.art-content > * {
    color: black;
    margin: 0 auto;
}

.more {
    margin-top: 20px;
    padding: 5px 10px;
    background-color: #4DB7D9;
    color: white;
    display: inline-block;
}
